html, body {
    height: 100%;
    overflow: hidden;
    color:#5e666d;
    scrollbar-face-color:white;
    scrollbar-track-color:black;
}

::-webkit-scrollbar {
    width:10px;
}
::-webkit-scrollbar-track {
    background-color:white;
    border-radius:4px;
}
::-webkit-scrollbar-thumb {
    background-color: #dacabc;
    border-radius:4px;
}

h2 {
  /*text-align: center;*/
  font-family:"Dosis", sans-serif;
  font-weight:400;
  text-transform: uppercase;
  margin-top:0;
  margin-bottom:10px;
  font-size:2em;
  color:white;
}

h3 {
  text-transform:uppercase;
  font-family:"Dosis",sans-serif;
  font-size:1.25em;
  color:white;/*#5e666d;*/
}

p {
  font-family:"Lato",sans-serif;
  color:#5e666d;
  font-size:0.9em;
}

.container-fluid {
    padding: 0px;
}

.base {
  height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.right {
  margin: 0px;
  padding: 0px;
}

.filters, .facts {
  background:#5e666d;
  font-family:'Lato',sans-serif;
}

.filters {
  min-height: 70%;
  height: 70%;
}

.facts {
  min-height: 30%;
  height: 30%;
}

.panel-title {
  height:50px;
  background:#dacabc;
  padding-left:10px;
  margin-bottom:-20px;
}

.sub-panel {
  height:35px;
  background:gray;
  opacity:0.9;
  padding-left:10px;
}

.panel-title > h2, .sub-panel > h3, .cuisine-panel > a > p {
  position:relative;
  top:50%;
  transform:translateY(-50%);
}

.cuisine-panel {
  /*background: red;*/

  width:90%;
  height:200px;
  overflow:auto;

  margin-right:auto;
  margin-left:auto;
  margin-top:15px;
}

.cuisine-panel > a {
  width: 80px;
  height: 50px;
  float: left;
  background: white;/*#bcccda;*/
  border-radius:5px;
  opacity:0.7;   
  margin: 5px 10px 5px 10px;
  text-align:center;
}

.cuisine-panel > a.active {
  border-left:8px solid #bcccda;
  opacity:1.0;
}

.cuisine-panel > a:hover {
  text-decoration:none;
  opacity:1.0;
}


.map {
  margin: 0px;
  padding: 0px;
  background:#5e666d;
  opacity:0.8;
}

.btn-group{
  white-space: normal
}

.btn {
  color:#5e666d;
}

.btn:active, .btn:focus, .btn.active:focus, .btn:active:focus {
  font-weight:900;
  color:#5e666d;
  text-transform: uppercase;
}

