html, body {
    height: 100%;
    overflow: hidden;
    color:#5e666d;
}

h2 {
  /*text-align: center;*/
  font-family:"Bitter", serif;
  font-weight:400;
  text-transform: lowercase;
  margin-top:0;
  margin-bottom:10px;
  font-size:25px;
  color:white;
}

h3 {
  text-transform:lowercase;
  font-family:"Bitter",serif;
  font-size:15px;
  color:white;/*#5e666d;*/
}

.container-fluid {
    padding: 0px;
}

.base {
  height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.right {
  margin: 0px;
  padding: 0px;
}

.filters, .facts {
  background:#5e666d;
  font-family:'Lato',sans-serif;
}

.filters {
  min-height: 70%;
  height: 70%;
}

.facts {
  min-height: 30%;
  height: 30%;
}

.panel-title {
  height:50px;
  background:#dacabc;
  text-align:center;
}

.sub-panel {
  height:35px;
  background:gray;
  opacity:0.9;
  text-align:center;
}

.map {
  margin: 0px;
  padding: 0px;
}

.btn-group{
  white-space: normal
}

.btn {
  color:#5e666d;
}

.btn:active, .btn:focus, .btn.active:focus, .btn:active:focus {
  font-weight:900;
  color:#5e666d;
  text-transform: uppercase;
}

