html, body {
    height: 100%;
    overflow: hidden;
    padding:15px;
    color:#5e666d;
}

h2 {
  font-family:"Bitter", serif;
  font-weight:700;
  text-transform: uppercase;
  margin-top:0;
  margin-bottom:10px;
  font-size:25px;
}

.container-fluid {
    padding: 0px;
}

.base {
  height: 100%;
}

.fill {
    min-height: 100%;
    height: 100%;
}

.right {
  margin: 0px;
  padding: 0px;
}

.filters, .facts {
  padding:15px;
  background:white;
  border: 4px solid #5e666d;

  font-family:'Lato',sans-serif;
}

.filters {
  min-height: 70%;
  height: 70%;

}

.facts {
  min-height: 30%;
  height: 30%;
  margin-top: 10px;
}

.map {
  margin: 0px;
  padding: 0px;
}

label {
  display:block;
}

.btn-group{
  white-space: normal
}

.btn {
  color:#5e666d;
}

.btn:active, .btn:focus, .btn.active:focus, .btn:active:focus {
  background:#5e666d;
  /*font-weight:900;*/
  color: white;
}
